h2{
	text-align: center;
	padding-right: 50px;
	text-transform: uppercase;
	font-style: italic;
	font-size: 20px;
	font-family: arial;
	opacity: 0.7;
}
body{
	background:-webkit-linear-gradient(right,#ff5864 0% ,#fd297b 100%);
font-family: arial; 
}
.container{
	background-image:url();
	margin: 20px auto;
	border: 1px;
	background-color:white;
	height: 500px;
	padding: 20px;
	width:310px;
	padding-left: 30px;

}
a{
	text-decoration: underline;
	color: blue;
	font-size: 14px;

}
p{
	font-size: 14px;
	margin-left: 10px;
}
a:hover{
	color: red;
}




.text{
	margin-top: 30px;
	padding-left: 60px;
	color: blue;
	margin-left: 14px;


}
.hill h2{
	padding-left: 30px;
	margin-top: 10px;
}

.container img{
	padding-top: 10px;
	width: 100px;
	padding-left: 90px;
}
.hello img{
	float: left;
	width: 60px;
	margin-right: 0px;
	display: inline-block;

}

.we img{
	float: right;
	width: 60px;
	margin-right: 10px;
	display: inline-block;	
}
a.desk-1{
     background:-webkit-linear-gradient(right,#8b9dc3 0% ,#3b5998 100%);
      text-decoration: none;
     color: white;
	text-align: center;
	width:300px;
	border-radius: 50px;
	border:1px blue solid;
	border-style: inset;
	display: block;
	color: black;
	padding: 5px;
	font-size: 14px;
	font-family: arial;

	

}
.desk-1:hover{
	color: red;
}
.desk-2:hover{
	color: red;

}
a.desk-2{
	color:rgb(11,44,99);
	text-align: center;
	width:300px;
	border-radius: 50px;
	border:1px grey solid;
	border-style: inset;
	display: block;
	margin-top: 20px;
	padding: 5px;
	text-decoration: none;
	font-size: 14px;
	font-family: arial;
	opacity: 0.3;

}

a.jona{
	text-decoration:underline;
}

